@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}