header{
    background-color: white;
    padding: 0;
    border-bottom: 1px solid red;
}

.container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
nav ul{
    list-style-type: none;
    margin: 0;
}
nav ul li a{
    font-weight: bold;
    padding: 1em;
    font-size: 20px;
    display: inline-block;
}
a{
    color: red;
    text-decoration: none;
}
a:hover{
    color: white;
    background-color: red;
}
.logo{
    padding: 1em;
    font-weight: bold;
    font-size: 20px;
}